.video-list {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
  margin-top: calc(8rem - 4px);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .video-list {
    grid-template-columns: 15rem 15rem 15rem;
  }
}

@media only screen and (max-width: 615px) {
  .video-list {
    display: flex;
    flex-direction: column;
  }
}
